language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"

before_install:
  - "pip install -r requirements.txt"
script:
  - coverage run --omit="*ch3*","*api/migration*" manage.py test
after_success:
  - coveralls
branches:
  only:
  - materialize
services:
  - postgresql
env:
  global:
    - TRAVIS_BUILD=true