#bucketlist_details_div {
	background-image: url('../images/my_bucketlist.jpg');
	background-size: 85em 50em;
}

#add_item_div {
	padding-top: 1em;
}

#bucketlist_name_div {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #ffffff;
	background-color: #000000;
	opacity: 0.7;
}

#item_div {
	background-color: #4db6ac;
	margin: 1em;
	opacity: 0.7;
}

#checkbox_div {
	background-color: #ffffff;
	opacity: 1;
	margin-top: 1em;
}

#item_name_label {
	font-weight: bold;
}

.p_bucketlist_details {
	color: #000000;
	font-weight: bold;
}

#div_bucketlist_details_fab {
	position: relative;
	height: 2em;
}